@page "/inventories"
@inject NavigationManager inventoryNavigate;

<PageTitle>Inventory List</PageTitle>
 
<h3>InventoryList</h3>

<br />
<SearchInventoryComponent OnSearchInventory="OnInventorySearch"></SearchInventoryComponent>

<br/>
<InventoryListComponent SearchTerm="@SearchTerm"></InventoryListComponent>

<br/>

<button 
    type="button"
    class="btn btn-primary"
    @onclick="AddInventory">Add Inventory</button>
 
@code {

    private string SearchTerm = string.Empty;

    private void OnInventorySearch(string searchTerm)
    {
        this.SearchTerm = searchTerm;
    }

    private void AddInventory()
    {
        inventoryNavigate.NavigateTo("/addInventory");
    }

}
